html,
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: #191919 no-repeat center center fixed;
    /* background: linear-gradient(-125deg, #f64040, #f64089 100%); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    font-family: "Roboto Flex", sans-serif;
    /* font-family: Garamond, serif; */
}

.header {
    margin: 0;
    text-align: center;
    width: 100%;
    /* parallax effect */
    background-image: url("/assets/images/Branding/Ratchy_Background.png");

    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header img {
    margin-top: 100px;
    width: 300px;
    height: 300px;
}

.header h1 {
    color: #e1e1e1;
    font-weight: bold;
    font-size: 125px;
}

.header button {
    height: 50px;
    width: 150px;
    font-size: 15px;
    border: none;
    color: #e1e1e1;
    font-weight: bold;
    background: linear-gradient(-125deg, #f64040, #f64089 100%);
    border-radius: 15px;
    margin-bottom: 150px;
    cursor: pointer;
    transition: 0.3s;
}

.header button:hover {
    scale: 105%;
    box-shadow: 0px 0px 15px 0px #f64089;
}

.aboutcards {
    background-color: #191919;
    align-items: center;
    margin: auto;
    width: 90%;
}

.card {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5%;
    margin-bottom: 5%;
    display: inline-grid;
    background-color: #191919;
    border-radius: 15px 15px;
    width: 250px;
    height: 350px;
    box-shadow: 0 0 8px 0 #00000099;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 0 16px 0 #00000099;
    scale: 110%;
}

.card img {
    border-radius: 15px 15px 0px 0px;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25rem;
}

.card h3 {
    color: #e1e1e1;
}

.card p {
    color: #a0a0a0;
}

.container {
    padding: 2px 16px;
}

.footer {
    width: 100%;
    height: 300px;
}

.footerinfo {
    margin-left: 100px;
    padding: 15px;
    max-width: fit-content;
    display: inline-grid;
}

.footerinfo h2 {
    color: #e1e1e1;
}

.footerinfo a {
    background: #a0a0a0;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 10px;
    text-decoration: none;
}

.footerinfo a:hover {
    background: -webkit-linear-gradient(-125deg, #f64040, #f64089 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all ease-in-out 0.5s;
}