html,
::selection {
    background: #f64040;
    color: #191919;
}

/* #region Scrollbar CSS */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #f64040 #191919;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #191919;
}

*::-webkit-scrollbar-thumb {
    background-color: #f64040;
    border-radius: 0px;
    border: 0px none #191919;
}