html,
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: #191919 no-repeat center center fixed;
    /* background: linear-gradient(-125deg, #f64040, #f64089 100%); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    font-family: "Roboto Flex", sans-serif;
    /* font-family: Garamond, serif; */
}

.container {
    /* background-color: #303030; full dark mode */
    background: linear-gradient(-125deg, #f64040, #f64089 100%);
    display: flex;
    /* justify-content: center; */
}

.matchlist {
    padding: 15px;
    border-radius: 15px;
    background-color: #202020;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 75px;
    margin-right: 20px;
    max-height: 750px;
    width: 500px;
    box-shadow: 0 0 16px 0 #000000;
}

.matchlist h2 {
    margin: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: #e1e1e1;
}

.userchatbuttonsplit {
    background-color: #363636;
    text-decoration: none;
    height: 2px;
    width: 100%;
}

.userchatbutton {
    text-decoration: none;
    border-radius: 15px;
    max-height: fit-content;
    max-width: 100%;
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: 0.3s;

    /* Add flexbox */
    display: flex;
    align-items: center;
    /* Vertically align children */
    gap: 10px;
    /* Space between img and h3 */
}

.userchatbutton:hover {
    background-color: #363636;
    max-height: fit-content;
}


.userchatbutton img {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
}

.userchatbutton h3 {
    margin: 0;
    max-height: fit-content;
    color: #e1e1e1;
    font-size: 1em;
    transition: 0.3s;
}

.userchatbutton:hover h3 {
    color: #f64040;
}

.userchatbutton p {
    margin: 0;
    max-height: fit-content;
    color: #888888;
    font-size: 12px;
    font-weight: 600;
    transition: 0.3s;
}

/* .userchatbutton:hover p {
    color: #f64040;
} */

.userchatbox {
    padding: 15px;
    border-radius: 15px;
    background-color: #202020;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 75px;
    background-color: #202020;
    width: 1500px;
    height: 750px;
    box-shadow: 0 0 16px 0 #000000;
}

.usermessagebox-label {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    border: 1px solid transparent;
    border-radius: 12px;
    overflow: hidden;
    background: #3D3D3D;
    padding: 9px;
    cursor: text;
}

.usermessagebox-label:hover {
    border-color: gray;
}

.usermessagebox-label input {
    outline: none;
    width: 100%;
    border: none;
    background: none;
    color: rgb(162, 162, 162);
}

.footer {
    width: 100%;
    height: 300px;
}

.footerinfo {
    margin-left: 100px;
    padding: 15px;
    max-width: fit-content;
    display: inline-grid;
}

.footerinfo h2 {
    color: #e1e1e1;
}

.footerinfo a {
    background: #a0a0a0;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 10px;
    text-decoration: none;
}

.footerinfo a:hover {
    background: -webkit-linear-gradient(-125deg, #f64040, #f64089 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all ease-in-out 0.5s;
}